*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

:root{
    --dark-color1: #191919;
    --yelo-dark-color1: #B88746;
    --yelo-light-color2: #FDF5A6;

    --z-light-color1: #eec641 ;

    --z-left-co: #b8874647 ;
}


body{
    display: flex;
    background-color: var(--dark-color1);
}


.container{
    display: flex;
    width: 100%;
}

.con{
    width: 100%;
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
    width: 31%;
    /* min-width: 200px; */
    padding: 30px 18px;
    gap: 40px;
    border-color: transparent #7272723b #7272723b transparent ;
    border-width: 1px;
    border-style: solid;
    height: 95vh;

}   
.ff1{
    width: 100%;
}

.menue_left1{
    display: flex;
    width: 100%;
    
    
}
.menue_left1 ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

}
.menue_left1 ul li{
    padding: 10px 10px;
    border: 1px solid var(--z-left-co);
    color: var(--z-light-color1);
    border-radius: 0 10px 10px 0;
    transition: .3s;
    cursor: pointer;
    list-style: none;
    align-items: center;
}
.menue_left1 ul li .fr1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menue_left1 ul li .fr1 img{
    opacity: .4;
}


.menue_left1 ul li:hover{
    padding: 10px 10px;
    border: 1px solid  #b887461c;
    transform: scale(1.1);
    
}
.menue_left1 ul li:active{
    transform: scale(.9);
    padding: 10px 10px;
    border: 1px solid  var(--z-left-co);
    
}


.men_btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    cursor: pointer;
    transition: .2s;
}
.men_btn:hover{
    transform: scale(1.1);
}
.men_btn span{
    width: 100%;
    height: 2px;
    background-color: #B88746;
    border-radius: 4px;
}


.fr1 p.act12{
    display: none;
    transition: .5s;



}



.left.act34{
    width: 91px;
    transition: .3s;
}









.con_chat{
    width: 100%;
    border: 1px solid #ffc10738;
    padding: 10px;
    border-radius: 30px;
}

.con_alls{
    display: flex;
    flex-direction: column;
}


.more12{
    display: flex;
    gap: 3px;
    cursor: pointer;
    padding: 5px;
}
.more12:hover span{
    background-color: #dddddd;
}
.more12:active span{
    transform: scale(.8);
}
.more12 span{
    width: 5px;
    height: 5px;
    background-color: #aaa;
    border-radius: 50%;
    transition: .3s;
}

.men1:hover .lis1{

    display: flex;
}

.men1{
    position: relative;
}


.lis1{
    display: none;
    position: absolute;
    left: -35px;
    top: 20px;
    background: linear-gradient(to left, #191919, #333333 ,#191919);
    padding: 5px;
    color: #B88746;
    box-shadow: 1px 1px 5px #b8874680;
    margin: 10px 0;
    z-index: 2000;
}

.lis1::after{
    content: "";
    position: absolute;
    border-color: transparent transparent #B88746 transparent;
    border-width: 8px;
    border-style: solid;
    top: -16px;
    right: 7px;
    
}
.lis1 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.lis1 ul li{
    padding: 3px 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    user-select: none;
}
.lis1 ul li:hover{
    transform: scale(1.1);
}












.top11{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.top11 hr{
    border: none;
    height: 1px;
    background-color: #ac7b3b60;
    margin: 10px 0 ;
}
.infoo{
    display: flex;
    width: 100%;
}
.inf1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.inf_left{
    display: flex;
    gap: 20px;
    color: #fff;
    align-items: center;
    font-size: 19px;
}
.inf_left img{
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}

.chat{
    display: flex;
    padding: 5px;
    height: 73vh;
}
.messages{
    /* display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* padding: 0 10px; */
    
}
#chat1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
    
}

.messages::-webkit-scrollbar{
    width: 4px;
}
.messages::-webkit-scrollbar-thumb{
    background-color: #b887466b;
    border-radius: 10px;
}

.msg1{
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-direction: row-reverse;
}
.msg1 .img{
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    position: sticky;
    top: 5px;

}
.msg1 .p{
    color: #191919;
    background: linear-gradient(to left , #bf8c46 , #eec641 , #bf8c46);
    border-radius: 10px 0 10px 10px;
    padding: 5px;
    font-weight: 400;
}
.msg2{
    display: flex;
    gap: 10px;
    margin-right: auto;
}
.msg2 .img{
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    position: sticky;
    top: 5px;

}
.msg2 .p{
    color: #919191;
    background: linear-gradient(to left , #000000 , #000000 , #000000 );
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    font-weight: 400;
    /* overflow-wrap: break-word; */
}


.bottom11{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7px 0;
    gap: 10px;
}

.bottom11 input{
    padding: 12px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #191919;
    color: #dd9c41;
    border-color: #b887465c #bf8d4648 #dd9c416e #b8874682;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.bottom11 button{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    background-color: #191919;
    color: #eca136;
    border-color: #b887465c #dd9c416e #dd9c416e #b8874682;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    transition: .2s;
    font-weight: 400;
}
.bottom11 button:hover{
    color: #191919;
    background-color: #eca136;

}


.dsf3{
    position: relative;
}
.dsf3:hover .info_aco_chat{
    display: flex;
}


.info_aco_chat{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #B88746;
    background-color: #191919;
    box-shadow: 1px 1px 10px #c98e4063;
    /* padding: 4px; */
    margin: 10px 5px;
    /* overflow: hidden; */
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
    z-index: 1000;
    

}

.info_aco_chat p{
    font-weight: 400;
}
.info_aco_chat img{
    border-radius: 5px 5px 0 0;
    max-width: 200px;
    min-width: 200px;

    max-height: 200px;
    min-height: 200px;
}

.info_aco_chat::after{
    content: "";
    position: absolute;
    border-color: transparent transparent #6a6a6a transparent;
    border-width: 8px;
    border-style: solid;
    top: -16px;
    left: 3px;
}
.info_aco_chat button{
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    background-color: #0c0c0c;
    border-radius: 3px;
    color: #c4c4c4;
    transition: .3s;
}
.info_aco_chat button:hover{

    transform: scale(1.1);
   
}






.setting_con{
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: #191919;
    border: 1px solid #da9f5223;
    
}

.imgg1{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}
.imgg1 img{
    width: 100%;
}


.info1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info1 p{
    color: #919191;
}

.dss{
    display: flex;
    gap: 6px;
}


.btns23{
    display: flex;
    justify-content: space-between;
}
.btns23 button{
    border: none;
    padding: 10px 14px;
    /* background-color: #00000098; */
}

















.frinds{
    display: flex;
    width: 50%;
    height: 70vh;
    background-color: #0c0c0c;
    border-radius: 10px;
    border: 1px solid #B88746;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    z-index: 100000;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    gap: 20px;
}


.itemsF{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.itemsF::-webkit-scrollbar{
    width: 4px;
}
.itemsF::-webkit-scrollbar-thumb{
    background-color: #7e7e7e;
    border-radius: 5px;
}



.itemsF ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    width: 100%;
}
.itemsF ul li{
    list-style: none;
    padding: 8px;
    width: 100%;
    border-bottom: 1px dashed #B88746;
}

.ff13{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dds{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #aaa;
}

.dds img{
    max-width: 35px;
    min-width: 35px;
    border-radius: 50%;
    max-height: 35px;
    min-height: 35px;

}


.ff13 button{
    border: 1px solid #eca136;
    padding: 5px 10px;
    color: #cccccc;
    transition: .3s;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
}
.ff13 button:hover{
    color: #0c0c0c;
    background-color: #eca136;
}


.search_frind{
    display: flex;
    border: 1px solid #e0a04b;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    overflow: hidden;
}
.search_frind input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: transparent;
    color: #f5f5f5;
}
.search_frind button{
    border: none;
    padding: 0 10px;
    background-color: transparent;
    color: #B88746;
    border-left: 1px solid #B88746;
    cursor: pointer;
}
.search_frind button:hover{
    background-color: #6e3f0171;
}







.frinds{
    display: none;
}

.frinds.act823{
    display: flex;
    animation: ani122 .4s linear;
}




@keyframes ani122 {
    0%{
        /* display: none; */
        opacity: 0;
        transform: scale(0) translate(-50%,-50%);
        left: 50%;
        top: 50%;
        rotate: 90deg;
    }
    100%{
        
        display: flex;
        opacity: 1;
        transform: scale(1) translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
}



.hid21{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #19191983;
    top: 0;
    left: 0;
    z-index: 20000;
    backdrop-filter: blur(1px);
}

.hid21.show_back_s{
    display: flex;
}
















@media (max-width: 500px) {
    .frinds{ 
        width: 100%;
    }


    .setting_con{
        width: 100%;
    }
}